
docker/database
docker/mysql

web/.htaccess
web/api/common

web/api/private/routes.php
web/api/private/jwt.php
web/api/private/authentification.php

web/api/public/routes.php

web/api/private/records/traitement
web/api/public/rss/ecn
web/api/public/rss/ffn
web/api/public/rss/rmc